{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <form action="/add" method="get">
        <button class="addbutton">+</button>
    </form>
    {% if user_notes %}
        {% for notes in user_notes %}
        <div class="globe">
            <form action="/delete" method="post">
                <button class="delbutton" name="note_id" value={{ notes[0] }}>x</button>
            </form>
            <div class="note-container">
                <ul class="note">
                    <li class="note-title">{{ notes[1] }}</li>
                    <li class="note-text">{{ notes[2] }}</li>
                </ul>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p class="warning">No notes yet</p>
    {% endif %}
{% endblock %}