{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <button class="addbutton" onclick="open_modal()">+</button>
    <div id="overlay"></div>
    <div id="modal">
        <div class="header">
            <div class="modal-title">Add note</div>
            <button class="close" onclick="close_modal(this)">&times;</button>
        </div>
        <form id="add-form" action="/add" method="post">
            <input required name="title" class="title" placeholder="Title">
            <textarea required name="text" class="text" placeholder="Text" rows="5" cols="20"></textarea>
            <div class="btns">
                <button type="submit" id="addbtn" onclick="close_modal(this)">Add</button>
                <input value="Cancel" type="button" id="closebtn" onclick="close_modal(this)">
            </div>
        </form>
    </div>
    {% if user_notes %}
        {% for notes in user_notes %}
        <div class="globe">
            <form action="/delete" method="post">
                <button class="delbutton" name="note_id" value={{ notes[0] }}>&times;</button>
            </form>
            <div class="note-container">
                <ul class="note">
                    <li class="note-title">{{ notes[1] }}</li>
                    <li class="note-text">{{ notes[2] }}</li>
                </ul>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p class="warning">No notes yet</p>
    {% endif %}
{% endblock %}