{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <button class="addbutton" onclick="open_modal()">+</button>
    <div id="addform-container">
        <form id="add-form" action="/add" method="post">
            <input required name="title" placeholder="Title">
            <textarea required name="text" placeholder="Text" rows="15" cols="20"></textarea>
            <button type="submit" onclick="close_modal()">Add</button>
            <button onclick="close_modal()">Cancel</button>
        </form>
    </div>
    {% if user_notes %}
        {% for notes in user_notes %}
        <div class="globe">
            <form action="/delete" method="post">
                <button class="delbutton" name="note_id" value={{ notes[0] }}>x</button>
            </form>
            <div class="note-container">
                <ul class="note">
                    <li class="note-title">{{ notes[1] }}</li>
                    <li class="note-text">{{ notes[2] }}</li>
                </ul>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p class="warning">No notes yet</p>
    {% endif %}
{% endblock %}