<!DOCTYPE html>

<html lang="en">
    <link href="/static/style.css" rel="stylesheet">
    <head>
        <title> ONote: {% block title %}{% endblock %}</title>
    </head>

    <script>
        // Creates or removes class lists to show or hide modal
        function open_modal() {
            var overlay = document.getElementById('overlay');
            var modal = document.getElementById('modal');
            modal.classList.add('active');
            overlay.classList.add('active');
        }

        // Receives event (button pressed)
        function close_modal(e) {
            var title = document.querySelector(".title").innerText;
            var text = document.querySelector(".text").innerText;
            var btn = e

            // Check which button was pressed and if input fields are empty
            if (btn.id == 'addbtn' &&  (!title || !text)) {   
            } else {
                modal.classList.remove('active');
                overlay.classList.remove('active');
            }
        }
    </script>

    <body>
        {% if session["user_id"] %}
        <div class="nav-container">
            <ul class="navbar">
                <li class="item"><a href="/">Home</a></li>
                <li class="item"><a href="/logout">Log out</a></li>
                <li class="hello">Hello, {{ session["username"] }}</li>
            </ul>
        </div>
        {% else %}
        <div class="nav-container">
            <ul class="navbar">
                <li class="item"><a href="/login">Log In</a></li>
                <li class="item"><a href="/register">Register</a></li>
            </ul>
        </div>
        {% endif %}
    </body>
    <main>
        {% block main %}{% endblock %}
    </main>
</html>
