<!DOCTYPE html>

<html lang="en">
    <link href="/static/style.css" rel="stylesheet">
    <head>
        <title> ONote: {% block title %}{% endblock %}</title>
    </head>
    <body>
        {% if session["user_id"] %}
        <div class="nav-container">
            <ul class="navbar">
                <li class="item"><a href="/">Home</a></li>
                <li class="item"><a href="/logout">Log out</a></li>
                <li class="hello">Hello, {{ session["username"] }}</li>
            </ul>
        </div>
        {% else %}
        <div class="nav-container">
            <ul class="navbar">
                <li class="item"><a href="/login">Log In</a></li>
                <li class="item"><a href="/register">Register</a></li>
            </ul>
        </div>
        {% endif %}
    </body>
    <main>
        {% block main %}{% endblock %}
    </main>
</html>
