{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <p>{{ error }}</p>
    <div class="reg-container">
        <form action="/register" method="post">
            <input class="input-field" required name="username" placeholder="Username">  
            <input class="input-field" required name="password" placeholder="Password">
            <input class="input-field" required name="confirmPass" placeholder="Confirm password">
            <button class="reg-btn" >Register</button>
        </form>
    </div>
{% endblock %}